@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #161821;
}

.dropdown-menu{
    left: -50px!important;
}

h1, h2, h3{
    font-family: "Poppins", sans-serif;
}

h3{
    margin-top: 2rem!important;
}

.sidebar-link{
    color: #D9D9D9; 
}

.sidebar-link:hover{
    color: rgb(220, 220, 220)9D9;
}

.nav-tabs .nav-link:not(.active) {
    color: #D9D9D9;
 }

.nav-tabs .nav-link.active {
    background-color: #D9D9D9;
    color: black;
    border-color: #D9D9D9;    
}


.nav-tabs .nav-link:not(.active):hover {
    background-color: #cccbcb;
    color: black;
    border-color: #D9D9D9;   
}

.placeholder {
    display: inline-block;
    width: 200px;
    height: 1em;
    border-bottom: 1px solid white;
}


p, li{
    text-align: justify;
    font-size: 18px;
}

.text-indent{
    text-indent: 3rem;
}

.note{
    background-color: rgba(0, 0, 0, 0.418);
    padding: 15px;
    border-radius: 10px;
}

.student{
    color: black;
    font-weight: bold;
    background-color: rgb(159, 197, 232, 0.8);
    padding: 0 5px;
}

.teacher{
    color: black;
    font-weight: bold;
    background-color: rgb(221, 126, 107, 0.8);
    padding: 0 5px;
}

.admin{
    color: black;
    font-weight: bold;
    background-color: rgba(213, 166, 189, 0.8);
    padding: 0 5px;
}

.pe-0{
    padding-right: 0;
}

.ps-0{
    padding-left: 0;
}

.box{
    position: relative;
    box-sizing: border-box;
    height: 100px;
    background: repeating-conic-gradient(
        from var(--aa),
        #fff0e7 0%,
        #fff0e7 5%,
        transparent 5%,
        transparent 40%,
        #fff0e7 50%
    );
    animation: animate 6s linear infinite;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    border-radius: 20px;
}

@property --aa {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0%{
        --aa: 0deg;
    }
    100%{
        --aa: 360deg;
    }
}

.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
        from var(--aa),
        #580c0c 0%,
        #580c0c 5%,
        transparent 5%,
        transparent 40%,
        #580c0c 50%
    );
    animation: animate 4s linear infinite;
    animation-delay: 2s;
    border-radius: 20px;
}

.box::after{
    content: "Chosen SDG: Quality Education";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2rem;
    inset: 8px;
    background: #292939;
    border-radius: 15px;
    border: 5px solid #25252b;
}

#sidebar {
    position: fixed;
    top: 56px; /* Adjust this value as needed to align with your navbar height */
    left: 0;
    width: 250px; /* Adjust the width of the sidebar as needed */
    height: 100%; /* Make the sidebar take full height of the viewport */
    padding: 15px;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

#sidebar.show {
    transform: translateX(0);
}


/* 
<li>
</li>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
*/