*{
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat;
    background-color: #161821;
}

h1, h2{
    font-family: Poppins;
}

.nav-tabs .nav-link:not(.active) {
    color: #D9D9D9;
 }

.nav-tabs .nav-link.active {
    background-color: #D9D9D9;
    color: black;
    border-color: #D9D9D9;    
}


.nav-tabs .nav-link:not(.active):hover {
    background-color: #cccbcb;
    color: black;
    border-color: #D9D9D9;   
}

p, li{
    text-align: justify;
}
