@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #161821;
}

.dropdown-menu{
    left: -50px!important;
}

h1, h2, h3{
    font-family: "Poppins", sans-serif;
}

h3{
    margin-top: 2rem!important;
}

.nav-tabs .nav-link:not(.active) {
    color: #D9D9D9;
 }

.nav-tabs .nav-link.active {
    background-color: #D9D9D9;
    color: black;
    border-color: #D9D9D9;    
}


.nav-tabs .nav-link:not(.active):hover {
    background-color: #cccbcb;
    color: black;
    border-color: #D9D9D9;   
}

p, li{
    text-align: justify;
    font-size: 18px;
}

.text-indent{
    text-indent: 3rem;
}

/* 
<li>
</li>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
*/